@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Store Orders REST API</title>
  </head>

  <body>
    <h1>Store Orders REST API</h1>

    <p>
      This page lists all the REST API available for you to perform
    </p>

    <ol>
        <li> 
            <p>Get all orders</p>
            <pre>
                <code>GET localhost:9000/orders</code>
            </pre>
        </li>
        <li> 
            <p>Get specific order (for example, order with id 8)</p>
            <pre>
                <code>GET localhost:9000/orders?id=8</code>
            </pre>
        </li>
        <li> 
            <p>Create order</p>
            <pre>
                <code>POST localhost:9000/orders Content-Type: application/json</code>
            </pre>
            Example Body:
            <pre>
{
    "orderId": "CA-2016-152156",
    "orderDate": "08.11.16",
    "shipDate": "11.11.16",
    "shipMode": "Second Class",
    "quantity": 2,
    "discount": "0",
    "profit": "41.9136",
    "productId": "FUR-BO-10001798",
    "customerName": "Claire Gute",
    "category": "Furniture",
    "customerId": "CG-12520",
    "productName": "Bush Somerset Collection"
}
            </pre>
        </li>
        <li>
            <p>Update Order (for example, order with id 8), only specify the fields you wish to modify in the json.</p>
            <pre>
                <code>PUT localhost:9000/orders/8 Content-Type: application/json</code>
            </pre>
            Example Body:
            <pre>
{
    "shipMode": "Third Class"
}
            </pre>
        </li>
    </ol>

  </body>
</html>